/* Use this file to extend default antd styles */

.header {
  box-shadow: rgba(0, 0, 0, 0.1) 0px -1px 0px inset;
  background: rgba(255, 255, 255, 0.9);
  padding: 0;
}

.logo {
  height: 64px;
  width: 200px;
}

.logotext {
  text-align: center;
}

.mainsider {
  background: rgba(255, 255, 255, 0.9);
}

.mainfooter {
  text-align: center;
}

.sidermenu {
  height: 100%;
  border-right: 0;
}

.mainlayout {
  height: 100vh;
}

/* Antd overrides */
